@import "./src/styles/variables";

.btn {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  outline: none;

  border: $btn-border-width solid transparent;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  box-shadow: $btn-box-shadow;
  @include button-size($btn-padding-x, $btn-padding-y, $btn-font-size, $border-radius);
  transition: $btn-transition;

  // button 禁用态
  &.disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: $btn-disabled-opacity;
    box-shadow: none;
    > * {
      pointer-events: none;
    }
  }

  // button 大小
  &.btn-lg {
    @include button-size($btn-padding-x-lg, $btn-padding-y-lg, $font-size-lg, $border-radius-lg)
  }
  &.btn-sm {
    @include button-size($btn-padding-x-sm, $btn-padding-y-sm, $font-size-sm, $border-radius-sm)
  }

  // button 样式
  &.btn-primary {
    @include button-style($primary, $primary, $white)
  }

  &.btn-danger {
    @include button-style($danger, $danger, $white)
  }
}